extends layout

block content
  h1= title
  <br>
  //p Welcome to #{title}

  form#uploadForm(method='POST' enctype='multipart/form-data')

      input#myFile(type='file' name='myFile' required)
      <br>
      input#caption(type='text' name='caption' placeholder='Caption...' required)
      <br><br>
      input#submit(type='submit' name='submit' value="Upload")
      <br>

  <div class="container">
    <div class="row">
      <div class='list-group gallery'>

        for image in imageList
          <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
            a.button.thumbnail.fancybox(rel="ligthbox" href=image.FileName data-caption=image.Caption style='margin-bottom:0px; margin-top:15px')
              img.img-responsive(src= process.env.CLOUDFRONT + '/' + image.FileName style='height:250px; width:auto')
              <div class='text-right'>
                small.text-muted= image.Caption
              </div>
            </a>
            <table width='100%'>
            <tr>
            <td>
              a( href='/updateForm/'+image.photoid)
                img(src="images/edit.png" style='cursor:pointer; width:40px' )
            </td>
            //- <td>
            //-   img.delete(src="images/delete.png" style='cursor:pointer; float:right; width:33px' rel= image.photoid)
            //- </td>
            <td>
              img.delete(src="images/delete.png" style='cursor:pointer; float:right; width:33px' rel= image.FileName)
            </td>
            </tr>
            </table>
          </div>
          

        
      </div> <!-- list-group / end -->
    </div> <!-- row / end -->
  </div> <!-- container / end -->
