extends layout

block content
    h1= title

    form#editForm(method='POST' enctype='multipart/form-data')

        <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
            img.img-responsive(src= process.env.CLOUDFRONT + '/' + imagedetails.FileName style='height:200px; width:200px')
            <div>
            small.text-muted= imagedetails.Caption
            </div>
        </div>

        input#myFile(type='file' name='myFile')
        <br>
        input#caption(type='text' name='caption' value=imagedetails.Caption placeholder='Caption' required)
        input#pid(type='hidden' name='pid' value=imagedetails.photoid)
        <br><br>
        input#submit(type='submit' name='submit' value="Update")
        a(href='../')
            input(type='button' name='submit' value="Back" style='margin-left:10px')
        <br>
